*{margin: 0; padding: 0; box-sizing: border-box;}

@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.woff?a2qhcp') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

.icon-envelope {
    content: "\e900";
  }
.icon-telephone {
    content: "\e901";
  }
  

body{
    font: 18px/1.5 'Montserrat', sans-serif;
    background-color: #fff;
}

.container {
    width: 1440px;
    padding-top: 5px;
    margin: auto;
    display: flex;
}

.logo{
    width: 112px;
    height: 118px;
    position: absolute;
}

.page-intro{
    padding-top: 200px;
    background: linear-gradient(180deg, #FFFFFF 0%, #E5F0F6 100%);
    height: 900px;
}

.circle-deratizacija{
    position: absolute;
    height: 173px;
    width: 171px;
    top: 120px;
    left: -20px;
    background-color: #FFF504;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

.circle-dezinsekcija{
    position: absolute;
    height: 173px;
    width: 171px;
    top: 420px;
    left: -20px;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

.circle-dezinfekcija{
    position: absolute;
    height: 173px;
    width: 171px;
    top: 120px;
    left: 450px;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

.circle-zastita{
    position: absolute;
    height: 173px;
    width: 171px;
    top: 420px;
    left: 450px;
    background-color: #fff;
    color: black;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    text-decoration: none;
}

.istrebljivac{
    width: 591px;
    height: 546px;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    top: -200px;
    right: -150px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1134px;
    height: 22px;
    display: flex;
    font-family: Montserrat Bold;
    list-style: none;
    margin: -50px 0px 0px 250px ;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.name {
    font-size: 36px;
    width: 600px;
    height: 44px;
}

.info{
    padding-top: 20px;
    line-height: 26px;
    padding-bottom: 30px;
}

.blue{
    color: #0093dd;
}

.icon-title{
    color: #232323;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    text-align: center;
    }

.rat{
    position: absolute;
    top: 50px;
    left: 40px;
}

.mosquito{
    position: absolute;
    top: 50px;
    left: 50px;
}

.circle-title{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    color: black;
}

.circle-title2{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    align-items: center;
}

.circle-title3{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    align-items: center;
}

.circle-title4{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    align-items: center;
}

.shape2{
    position: absolute;
    top: 50px;
    left: 50px;
}

.bird{
    position: absolute;
    top: 50px;
    left: 50px;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.icon{
    position: relative;
    padding-left: 30px;
}
.icon:before{
    content: "\e901";
    position: absolute;
    left: 0;
    top: 0;
    font: 20px/20px icomoon;
    color: #0093dd;
}
.tel{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

.mail{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.mail:before{
    content:"\e900";
    color: #0093dd;
}

.tel:before{
    font-size: 21px;
    line-height: 21px;
    margin-right: 15px;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.list li{
    position: relative;
    padding-left: 25px;
}
.list li:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    width: 10px;
    height: 10px;
    background: #FFF504;
    border-radius: 100px;
}
.blue-section {
    display: flex;
    margin: auto;
    background-image: url(img/BG.jpg);
    padding: 100px;
}

.mjere {
	color: #FFFFFF;
	font-size: 36px;
	font-weight: bold;
    line-height: 44px;
    margin-bottom: 30px;
    margin-left: -10px;
    margin-top: 20px;
}

.wrapper {
    max-width: 1440px;
    position: relative;
    margin: auto;
}

.service-content {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.service-content ul{
    width: 50%;
    margin-right: 30px;
}

.deratizacija {
    display: flex;
    justify-content: space-between;
    height: 1440px;
    width: 922px;
    color: #fff;
}

.name-deratizacija {
    color: #0093DD;
    height: 66px;
    width: 413px;
    font-size: 54px;
    font-weight: bold;
    line-height: 66px;
    position: absolute;
    margin-top: 120px;
    margin-left: 104px;
}