* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.page-wrapper {
  overflow: hidden;
}
.pseudo {
  content: "";
  display: block;
  position: absolute;
}
.icon-envelope {
  content: "\e900";
}
.icon-telephone {
  content: "\e901";
}
.icon-rat {
  content: "\e902";
}
.icon-bird {
  content: "\e903";
}
.icon-mosquito {
  content: "\e904";
}
.icon-shape2 {
  content: "\e905";
}
.icon-pdf {
  content: "\e906";
}
.icon-arrow {
  content: "\e907";
}
.icon-rarrow {
  content: "\e908";
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff?a2qhcp') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.section-wrapper {
  width: 1440px;
  margin: auto;
}
.section-alt {
  background: #F2F9FD;
}
.header-info {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
.header-info a {
  font-weight: normal;
}
body {
  font: 18px/1.5 'Montserrat', sans-serif;
  background-color: #fff;
  padding-top: 30px;
}
.container {
  width: 1440px;
  padding-top: 5px;
  margin: auto;
  display: flex;
}
.logo {
  width: 112px;
  height: 118px;
  position: absolute;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  padding-top: 45px;
  padding: 20px 0 14px;
}
a {
  text-decoration: none;
  color: black;
}
p {
  padding-bottom: 5px;
}
.page-intro {
  padding-top: 200px;
  background: linear-gradient(180deg, #FFFFFF 0%, #E5F0F6 100%);
  height: 860px;
}
.o-nama {
  position: relative;
  top: 125px;
}
.info-con {
  font-size: 24px;
  margin-top: 65px;
}
.circle {
  position: absolute;
  height: 173px;
  width: 171px;
  top: 146px;
  left: -33px;
  background-color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  text-decoration: none;
}
.circle:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e902";
  font: 57px/47px "icomoon";
  top: 40px;
  color: #0093DD;
}
.circle:hover {
  background: yellow;
}
.circle:hover:before {
  color: #000;
}
.circle-dezinsekcija {
  top: 414px;
  left: -33px;
}
.circle-dezinsekcija:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e904";
  font: 63px/47px "icomoon";
  top: 40px;
  color: #0093DD;
}
.circle-dezinfekcija {
  top: 146px;
  left: 450px;
}
.circle-dezinfekcija:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e905";
  font: 63px/47px "icomoon";
  top: 32px;
  color: #0093DD;
}
.circle-zastita {
  top: 420px;
  left: 450px;
}
.circle-zastita:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e903";
  font: 63px/47px "icomoon";
  top: 37px;
  color: #0093DD;
}
.istrebljivac {
  width: 591px;
  height: 546px;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  top: -70px;
  right: 0px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  max-width: 1134px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 170px;
  right: 0;
  top: 78px;
  margin-left: auto;
}
.nav a:hover {
  color: #0093DD;
}
.name {
  font-size: 36px;
  height: 44px;
  font-weight: 400;
  line-height: 53px;
  padding-bottom: 22px;
}
.info {
  padding-top: 20px;
  line-height: 26px;
  padding-bottom: 30px;
  font-size: 18px;
}
.blue {
  color: #0093dd;
}
.icon-title {
  color: #232323;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  position: absolute;
  top: 74px;
  text-align: center;
  right: 145px;
}
.rat {
  position: absolute;
  top: 50px;
  left: 40px;
}
.mosquito {
  position: absolute;
  top: 50px;
  left: 50px;
}
.circle-title {
  position: absolute;
  bottom: 29px;
  left: 0;
  right: 0;
  text-align: center;
  color: #0093DD;
  font-size: 15px;
  font-weight: bold;
}
.circle-title3 {
  bottom: 20px;
}
.shape2 {
  position: absolute;
  top: 50px;
  left: 50px;
}
.bird {
  position: absolute;
  top: 50px;
  left: 50px;
}
.contact-info {
  display: flex;
  align-items: center;
  margin-top: 200px;
}
.icon {
  position: relative;
  padding-left: 30px;
}
.icon:before {
  content: "\e901";
  position: absolute;
  left: 0;
  top: 0;
  font: 20px/20px icomoon;
  color: #0093dd;
}
.tel {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}
.mail {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.mail:hover {
  color: #0093DD;
}
.mail:before {
  content: "\e900";
  color: #0093dd;
  position: absolute;
  left: -5px;
}
.tel:before {
  font-size: 21px;
  line-height: 21px;
  margin-right: 15px;
}
.list {
  list-style: none;
  margin: 0;
  font-size: 16px;
  padding: 0 0 12px 23px;
}
.list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
}
.list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 10px;
  height: 10px;
  background: #FFF504;
  border-radius: 100px;
}
.blue-section {
  padding-left: 100px;
  display: flex;
  margin: auto;
  background-image: url(img/BG.jpg);
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.blue-section .list {
  font-size: 18px;
}
.mjere {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  margin-bottom: 30px;
  margin-left: 0px;
  margin-top: 20px;
}
.wrapper {
  max-width: 1440px;
  position: relative;
  margin: auto;
}
.service-content {
  display: flex;
  justify-content: space-between;
  color: #FFF;
}
.service-content ul {
  width: 50%;
  margin-right: 30px;
}
.deratizacija {
  display: flex;
  justify-content: space-between;
  height: 1440px;
  width: 922px;
}
.section-title {
  color: #0093DD;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  display: flex;
  position: relative;
  padding-top: 100px;
}
.section-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #0093DD;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\e902";
  font: 50px/50px "icomoon";
  color: #fff;
  left: 0px;
  margin-top: -20px;
}
.section-title:before {
  left: -150px;
  top: 100px;
}
.section-title-dezinsekcija:before {
  content: "\e904";
}
.section-title-dezinfekcija:before {
  content: "\e905";
  top: 130px;
}
.section-title-zastita:before {
  content: "\e903";
}
.section-title-warning {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
.section-title-warning:before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 92px;
  left: -130px;
  background: url(img/warning.svg);
}
.section-wrapper {
  justify-content: space-between;
  display: flex;
  margin: auto;
  position: relative;
  padding-bottom: 100px;
}
.left-side {
  padding-right: 75px;
}
.list-blue li:before {
  background: #0093DD;
}
.list-y li:before {
  top: 3px;
  width: 10px;
  height: 10px;
  background: #FFF504;
  border: 3px solid black;
}
.right-side {
  width: 600px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-top: 20px;
}
.right-side img {
  display: block;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
}
.imgs-slider {
  position: relative;
}
.slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.slick-prev {
  position: absolute;
  bottom: 0;
  border-style: none;
  right: 310px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #0093DD;
}
.slick-prev:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e907";
  font: 30px/25px "icomoon";
  left: 25px;
  color: #fff;
}
.slick-next {
  position: absolute;
  bottom: 0;
  border-style: none;
  right: 215px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background-color: #0093DD;
}
.slick-next:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e908";
  font: 30px/25px "icomoon";
  left: 31px;
  color: #fff;
  top: 15px;
}
.map {
  height: 700px;
  width: 100%;
  position: relative;
}
.footer {
  background-image: url(img/BG.jpg);
  color: #fff;
}
.footer-title {
  font-size: 24px;
  line-height: 24px;
  color: #fff504;
  padding: 75px 0 10px;
}
.footer-col {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  padding: 5px;
  padding-right: 138px;
  padding-top: 25px;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}
.footer-info .footer-title {
  margin-bottom: 12px;
}
.footer-info .icon:before {
  color: #fff504;
  font-size: 14px;
  line-height: 14px;
  margin-left: 4px;
  margin-top: 3px;
}
.footer-col1 {
  margin-right: 0;
}
.footer-inner-col2 a {
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
}
.btn-pdf {
  width: 250px;
  height: 70px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0093DD;
  font-weight: 700;
  margin-top: 75px;
  margin-right: -150px;
  border-radius: 4px;
  position: relative;
}
.btn-pdf:hover {
  color: #00bfff;
}
.btn-pdf span {
  position: relative;
  padding-left: 30px;
}
.btn-pdf span:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e906";
  font: 20px/20px "icomoon";
  width: 10px;
  height: 10px;
  left: 0;
}
.footer-inner-col3 {
  position: absolute;
  bottom: 95px;
  right: -10px;
  text-align: right;
}
.p {
  font-size: 16px;
  padding: 0 0 10px;
}
.marker a {
  text-decoration: none;
  text-align: right;
  font-size: 16px;
}
.marker a:hover {
  text-decoration: underline;
}
.footer-inner-col3 p {
  padding: 0px 0px 2px;
}
.footer-col3 a {
  color: #0093DD;
  text-decoration: none;
}
.footer-col2 .mail {
  color: #FFF;
}
.footer-col2 .mail:hover {
  text-decoration: none;
}
.footer-col a[href^=tel] {
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width: 1440px) {
  .section-wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
    padding-top: 5px;
    margin: auto;
    display: flex;
  }
  .istrebljivac {
    top: -140px;
  }
  .istrebljivac img {
    height: 510px;
    width: auto;
    position: relative;
    top: 25px;
    left: -80px;
  }
  .section-title-warning {
    display: block;
  }
  .section-title-warning:before {
    position: relative;
    left: auto;
    display: block;
    background-size: contain;
    width: 80px;
    height: 73px;
    margin-bottom: 10px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }
  .header-info {
    font-size: 14px;
    padding-right: 30px;
  }
  .nav {
    font-size: 14px;
    padding-right: 30px;
    top: 50px;
  }
  h2.name {
    font-size: 24px;
    line-height: 29px;
    padding-left: 30px;
  }
  .wrapper {
    margin-left: 30px;
  }
  .section-wrapper {
    padding-left: 30px;
    padding-bottom: 55px;
    padding-bottom: 30px;
  }
  .o-nama {
    top: 0px;
  }
  .list {
    font-size: 14px;
    line-height: 20px;
  }
  .right-side {
    width: 400px;
    margin-right: 30px;
  }
  .info {
    line-height: 22px;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 140px;
  }
  .icon-title {
    font-size: 20px;
    top: 55px;
    left: 0px;
  }
  .info-con {
    margin-top: 30px;
    font-size: 18px;
    padding-left: 30px;
  }
  .page-intro {
    height: 650px;
  }
  .blue-section {
    padding-top: 50px;
    padding-bottom: 64px;
  }
  .mjere {
    font-size: 24px;
    line-height: 29px;
  }
  .section-title {
    font-size: 32px;
    line-height: 39px;
    padding-left: 100px;
    padding-top: 60px;
    margin-bottom: 10px;
  }
  .section-title:before {
    width: 65px;
    height: 65px;
    font: 18px/13px "icomoon";
  }
  .section-title:before {
    position: absolute;
    flex-shrink: 0;
    font: 30px/13px "icomoon";
    left: 0px;
    top: 60px;
  }
  h3 {
    font-size: 18px;
  }
  .p {
    font-size: 14px;
    line-height: 20px;
  }
  .blue-section .list {
    font-size: 14px;
    left: 20px;
    line-height: 22px;
  }
  .footer-col {
    font-size: 14px;
    padding-top: 0;
    padding-right: 134px;
  }
  .footer-inner-col3 {
    right: 30px;
    bottom: 60px;
  }
  .btn-pdf {
    width: 210px;
    height: 50px;
    position: absolute;
    right: 184px;
    top: -14px;
  }
  .istrebljivac {
    width: 400px;
  }
  .circle-title {
    font-size: 13px;
    line-height: 16px;
    bottom: 33px;
  }
  .circle {
    height: 126px;
    width: 127px;
  }
  .circle-deratizacija {
    top: 105px;
    left: -110px;
  }
  .circle-deratizacija:before {
    top: 30px;
  }
  .circle-dezinsekcija {
    left: -112px;
    top: 320px;
  }
  .circle-dezinsekcija:before {
    top: 30px;
  }
  .circle-dezinfekcija {
    top: 105px;
    left: 229px;
  }
  .circle-dezinfekcija:before {
    top: 18px;
    width: 65px;
    height: 65px;
  }
  .circle-title3 {
    top: 60px;
  }
  .circle-zastita {
    left: 229px;
    top: 320px;
  }
  .circle-zastita:before {
    top: 26px;
  }
  .circle-title4 {
    top: 70px;
  }
  .circle:before {
    font: 40px/35px "icomoon";
  }
  .slick-prev {
    position: absolute;
    bottom: 0px;
    right: 210px;
    height: 50px;
    width: 50px;
  }
  .slick-prev:before {
    content: "";
    display: block;
    position: absolute;
    content: "\e907";
    font: 23px/22px "icomoon";
    top: 15px;
    left: 16px;
    color: #fff;
  }
  .slick-next {
    bottom: 0px;
    right: 148px;
    height: 50px;
    width: 50px;
  }
  .slick-next:before {
    content: "";
    display: block;
    position: absolute;
    content: "\e908";
    font: 23px/22px "icomoon";
    left: 22px;
    color: #fff;
  }
}
@media screen and (max-width: 990px) {
  .container {
    padding-right: 30px;
    padding-top: 5px;
    margin: auto;
    display: flex;
  }
  .logo {
    height: 70px;
    width: 70px;
  }
  .header-info {
    font-size: 12px;
    line-height: 15px;
  }
  .icon:before {
    font: 14px/15px "icomoon";
    left: 0px;
  }
  .page-intro {
    height: 520px;
    padding-top: 150px;
  }
  .nav {
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    right: 0px;
    left: 100px;
    top: 46px;
  }
  .name {
    font-size: 20px;
    line-height: 24px;
  }
  p.info {
    font-size: 14px;
    line-height: 22px;
    padding-top: 0px;
  }
  h2.icon-title {
    font-size: 18px;
    line-height: 22px;
    top: 80px;
    right: 70px;
  }
  .istrebljivac {
    width: 300px;
    top: -120px;
  }
  .istrebljivac img {
    height: 420px;
    top: 50px;
    left: -40px;
  }
  .circle {
    height: 93px;
    width: 93px;
  }
  .circle-deratizacija {
    top: 130px;
    left: -75px;
  }
  .circle-dezinfekcija {
    top: 130px;
    left: 201px;
  }
  .circle-dezinsekcija {
    top: 300px;
    left: -75px;
  }
  .circle-zastita {
    top: 300px;
    left: 201px;
  }
  .circle:before {
    font: 31px/22px "icomoon";
  }
  .circle-title {
    line-height: 12px;
    bottom: 22px;
    font-size: 11px;
  }
  .circle-title3 {
    top: 45px;
  }
  .circle-title4 {
    top: 57px;
  }
  .blue-section {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .section-title {
    padding-left: 90px;
  }
  .section-title:before {
    height: 60px;
    width: 60px;
    font: 26px/13px "icomoon";
    position: absolute;
    left: 0px;
    top: 65px;
  }
  .h3 {
    padding: 0px;
  }
  .right-side {
    margin-right: 40px;
    height: 300px;
  }
  .section-title {
    font-size: 26px;
    line-height: 32px;
  }
  .list {
    font-size: 14px;
    line-height: 20px;
  }
  .list-y li:before {
    width: 6px;
    height: 6px;
  }
  .section-title-warning:before {
    position: relative;
    width: 55px;
    height: 50px;
    margin-left: 0px;
  }
  .slick-prev {
    bottom: 0;
    width: 40px;
    height: 40px;
  }
  .slick-prev:before {
    font: 19px/15px "icomoon";
    left: 13px;
  }
  .slick-next {
    bottom: 0;
    width: 40px;
    height: 40px;
  }
  .slick-next:before {
    font: 19px/15px "icomoon";
    left: 18px;
  }
}
@media screen and (max-width: 860px) {
  .container {
    padding-top: 5px;
    margin: auto;
    display: flex;
  }
  .logo {
    height: 70px;
    width: 70px;
  }
  .header-info {
    font-size: 12px;
    line-height: 15px;
  }
  .page-intro {
    padding-top: 140px;
    height: 570px;
  }
  .nav {
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    right: 10px;
    left: 99px;
    top: 46px;
  }
  h2.name {
    font-size: 22px;
  }
  .name {
    font-size: 20px;
    line-height: 24px;
  }
  p.info {
    font-size: 13px;
    line-height: 22px;
    padding-top: 0px;
    padding-right: 80px;
  }
  h2.icon-title {
    font-size: 18px;
    line-height: 22px;
    top: 95px;
  }
  .istrebljivac img {
    height: 420px;
    top: 60px;
  }
  .circle {
    height: 93px;
    width: 93px;
  }
  .circle-deratizacija {
    top: 140px;
    left: -75px;
  }
  .circle-dezinfekcija {
    top: 140px;
  }
  .circle-dezinsekcija {
    top: 310px;
    left: -75px;
  }
  .circle-zastita {
    top: 310px;
  }
  .circle:before {
    font: 31px/22px "icomoon";
  }
  .circle-title {
    line-height: 12px;
    bottom: 22px;
  }
  .circle-title3 {
    top: 45px;
  }
  .circle-title4 {
    top: 57px;
  }
  .blue-section {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
  }
  h2.mjere {
    font-size: 22px;
  }
  .blue-section .list {
    font-size: 13px;
  }
  .list li:before {
    width: 8px;
    height: 8px;
  }
  .section-title:before {
    height: 60px;
    width: 60px;
    font: 26px/13px "icomoon";
    margin-right: 15px;
  }
  h3 {
    padding-top: 20px;
    font-size: 16px;
  }
  .p {
    font-size: 13px;
    line-height: 19px;
  }
  .right-side {
    position: 10px;
    width: 290px;
    height: 435px;
  }
  .section-title {
    font-size: 26px;
    line-height: 32px;
  }
  .list {
    font-size: 13px;
    line-height: 20px;
  }
  .section-title-warning:before {
    width: 55px;
    height: 50px;
    margin-left: 0px;
  }
  .slick-prev {
    width: 40px;
    height: 40px;
    right: 150px;
  }
  .slick-next {
    width: 40px;
    height: 40px;
    right: 100px;
  }
}
