* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
.pseudo {
  content: "";
  display: block;
  position: absolute;
}
.icon-envelope {
  content: "\e900";
}
.icon-telephone {
  content: "\e901";
}
.icon-rat {
  content: "\e902";
}
.icon-bird {
  content: "\e903";
}
.icon-mosquito {
  content: "\e904";
}
.icon-shape2 {
  content: "\e905";
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.woff?a2qhcp') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.section-wrapper {
  width: 1440px;
  margin: auto;
}
.section-alt {
  background: #F2F9FD;
  padding-top: 20px;
}
.header-info {
  position: absolute;
  top: 25px;
  right: 0px;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  align-items: center;
}
body {
  font: 18px/1.5 'Montserrat', sans-serif;
  background-color: #fff;
  padding-top: 15px;
}
.container {
  width: 1440px;
  padding-top: 5px;
  margin: auto;
  display: flex;
}
.logo {
  width: 112px;
  height: 118px;
  position: absolute;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  padding-top: 45px;
  padding: 20px 0 14px;
}
a {
  text-decoration: none;
  color: black;
}
p {
  padding-bottom: 6px;
}
.page-intro {
  padding-top: 200px;
  background: linear-gradient(180deg, #FFFFFF 0%, #E5F0F6 100%);
  height: 900px;
}
.info-con {
  font-size: 24px;
  margin-top: 65px;
}
.circle {
  position: absolute;
  height: 173px;
  width: 171px;
  top: 146px;
  left: -33px;
  background-color: #ffffff;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  text-decoration: none;
}
.circle:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e902";
  font: 57px/47px "icomoon";
  top: 40px;
  color: #0093DD;
}
.circle:hover {
  background: yellow;
}
.circle:hover:before {
  color: #000;
}
.circle-dezinsekcija {
  top: 414px;
  left: -33px;
}
.circle-dezinsekcija:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e904";
  font: 63px/47px "icomoon";
  top: 40px;
  color: #0093DD;
}
.circle-dezinfekcija {
  top: 146px;
  left: 450px;
}
.circle-dezinfekcija:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e905";
  font: 63px/47px "icomoon";
  top: 32px;
  color: #0093DD;
}
.circle-zastita {
  top: 420px;
  left: 450px;
}
.circle-zastita:before {
  content: "";
  display: block;
  position: absolute;
  content: "\e903";
  font: 63px/47px "icomoon";
  top: 37px;
  color: #0093DD;
}
.istrebljivac {
  width: 591px;
  height: 546px;
  flex-shrink: 0;
  text-align: center;
  position: relative;
  top: -221px;
  right: 14px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  max-width: 1134px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  left: 170px;
  right: 0;
  top: 86px;
  margin-left: auto;
}
.nav .a:hover {
  color: #0093DD;
}
.name {
  font-size: 36px;
  width: 600px;
  height: 44px;
}
.info {
  padding-top: 20px;
  line-height: 26px;
  padding-bottom: 30px;
  font-size: 18px;
  padding-right: 215px;
}
.blue {
  color: #0093dd;
}
.icon-title {
  color: #232323;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  text-align: center;
}
.rat {
  position: absolute;
  top: 50px;
  left: 40px;
}
.mosquito {
  position: absolute;
  top: 50px;
  left: 50px;
}
.circle-title {
  position: absolute;
  bottom: 29px;
  left: 0;
  right: 0;
  text-align: center;
  color: #0093DD;
  font-size: 15px;
  font-weight: bold;
}
.circle-title3 {
  bottom: 20px;
}
.shape2 {
  position: absolute;
  top: 50px;
  left: 50px;
}
.bird {
  position: absolute;
  top: 50px;
  left: 50px;
}
.contact-info {
  display: flex;
  align-items: center;
  margin-top: 200px;
}
.icon {
  position: relative;
  padding-left: 30px;
}
.icon:before {
  content: "\e901";
  position: absolute;
  left: 0;
  top: 0;
  font: 20px/20px icomoon;
  color: #0093dd;
}
.tel {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 20px;
}
.mail {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.mail:before {
  content: "\e900";
  color: #0093dd;
}
.tel:before {
  font-size: 21px;
  line-height: 21px;
  margin-right: 15px;
}
.list {
  list-style: none;
  margin: 0;
  font-size: 16px;
  padding: 0 0 12px 23px;
}
.list li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
}
.list li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 10px;
  height: 10px;
  background: #FFF504;
  border-radius: 100px;
}
.blue-section {
  display: flex;
  margin: auto;
  background-image: url(img/BG.jpg);
  padding: 100px;
}
.blue-section .list {
  font-size: 18px;
}
.mjere {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: bold;
  line-height: 44px;
  margin-bottom: 30px;
  margin-left: -10px;
  margin-top: 20px;
}
.wrapper {
  max-width: 1440px;
  position: relative;
  margin: auto;
}
.service-content {
  display: flex;
  justify-content: space-between;
  color: #FFF;
}
.service-content ul {
  width: 50%;
  margin-right: 30px;
}
.deratizacija {
  display: flex;
  justify-content: space-between;
  height: 1440px;
  width: 922px;
}
.section-title {
  color: #0093DD;
  font-size: 54px;
  line-height: 66px;
  text-transform: uppercase;
  display: flex;
  position: relative;
  padding-top: 100px;
}
.section-title:before {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: #0093DD;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "\e902";
  font: 50px/50px "icomoon";
  color: #fff;
  margin-left: -136px;
  margin-top: -20px;
}
.section-title-dezinsekcija:before {
  content: "\e904";
}
.section-title-dezinfekcija:before {
  content: "\e905";
}
.section-title-zastita:before {
  content: "\e903";
}
.section-wrapper {
  justify-content: space-between;
  display: flex;
  margin: auto;
  position: relative;
  margin-left: 300px;
  padding-bottom: 100px;
}
.left-side {
  padding-right: 75px;
}
.list-blue li:before {
  background: #0093DD;
}
.list-y li:before {
  top: 3px;
  width: 10px;
  height: 10px;
  background: #FFF504;
  border: 3px solid black;
}
.right-side {
  width: 600px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-top: 20px;
}
.right-side img {
  display: block;
  margin-bottom: 20px;
  padding-top: 50px;
}
.map {
  height: 700px;
  width: 100%;
  position: relative;
}
.footer {
  background-image: url(img/BG.jpg);
  color: #fff;
}
.footer-title {
  font-size: 24px;
  line-height: 24px;
  color: #fff504;
  padding: 75px 0 10px;
}
.footer-col {
  font-size: 16px;
  line-height: 24px;
}
.footer a {
  color: #fff;
  text-decoration: underline;
}
.footer-info .footer-title {
  margin-bottom: 12px;
}
.footer-info .icon:before {
  color: #fff504;
}
.footer-inner-col2 a {
  color: #FFF;
  font-size: 16px;
  font-weight: normal;
}
.btn-pdf {
  width: 250px;
  height: 70px;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0093dd;
  font-weight: 700;
  margin-top: 100px;
  border-radius: 4px;
}
.footer-inner-col3 {
  position: absolute;
  bottom: 95px;
  right: -150px;
}
.p {
  font-size: 16px;
  padding: 0 0 10px;
}
