*{margin: 0; padding: 0; box-sizing: border-box;}
img{max-width: 100%; height: auto;}

@pageWidth: 1440px;
@fonti: "icomoon";
@blue: #0093DD;
@lightblue: #F2F9FD;

.page-wrapper{
    overflow: hidden;
}
.pseudo{
    content: "";
    display: block;
    position: absolute;   
}
.icon-envelope {
    content: "\e900";
  }
.icon-telephone {
    content: "\e901";
  } 
.icon-rat {
    content: "\e902";
  } 
.icon-bird {
    content: "\e903";
}
.icon-mosquito {
    content: "\e904";
  } 
.icon-shape2 {
      content: "\e905";
  }
.icon-pdf {
    content: "\e906"; 
}
.icon-arrow {
    content: "\e907";
}
.icon-rarrow {
    content: "\e908";
}


@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.woff?a2qhcp') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  .section-wrapper{
    width: @pageWidth;
    margin: auto;
  }
  
.section-alt{
    background: @lightblue;
}

.header-info {
    position: absolute;
    top: 15px;
    right: 0px;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.header-info a {
    font-weight: normal;
}

body{
    font: 18px/1.5 'Montserrat', sans-serif;
    background-color: #fff;
    padding-top: 30px;
}


.container {
    width: @pageWidth;
    padding-top: 5px;
    margin: auto;
    display: flex;
}

.logo{
    width: 112px;
    height: 118px;
    position: absolute;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    padding-top: 45px;
    padding: 20px 0 14px;
}

a {
    text-decoration: none;
    color: black;
}

p {
    padding-bottom: 10px;
}

.page-intro{
    padding-top: 200px;
    background: linear-gradient(180deg, #FFFFFF 0%, #E5F0F6 100%);
    height: auto;
}

.o-nama {
    position: relative;
    top: 125px;
    height: auto;
}

.info-con {
    font-size: 24px;
    margin-top: 65px;
}

.circle{
    position: absolute;
    height: 173px;
    width: 171px;
    top: 146px;
    left: -33px;
    background-color: #ffffff;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    text-decoration: none;
    &:before{
        .pseudo;
        .icon-rat;
        font: 57px/47px @fonti;
        top: 40px;
        color: @blue;
    }

    &:hover{
        background: yellow;
        &:before{
            color: #000;
        }
    }
}

.circle-dezinsekcija{
    top: 414px;
    left: -33px;
    &:before{
        .pseudo;
        .icon-mosquito;
        font: 63px/47px @fonti;
        top: 40px;
        color: @blue;
    }
}

.circle-dezinfekcija{
    top: 146px;
    left: 450px;
    &:before{
        .pseudo;
        .icon-shape2;
        font: 63px/47px @fonti;
        top: 32px;
        color: @blue;
    }
}

.circle-zastita{
    top: 420px;
    left: 450px;
    &:before{
        .pseudo;
        .icon-bird;
        font: 63px/47px @fonti;
        top: 37px;
        color: @blue;
        
}
}

.istrebljivac{
    width: 591px;
    height: 546px;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    top: -95px;
    right: 0px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    max-width: 1134px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    position: absolute;
    left: 170px;
    right: 0;
    top: 78px;
    margin-left: auto;
}
.btn-toggle-nav{
    display: none;
}
.nav a {
    &:hover {
        color: @blue;
    }
}

.name {
    font-size: 36px;
    height: 44px;
    font-weight: 400;
    line-height: 53px;
    padding-bottom: 22px;
}

.info{
    padding-top: 20px;
    line-height: 26px;
    padding-bottom: 30px;
    font-size: 18px;
}

.blue{
    color: #0093dd;
}

.icon-title{
    color: #232323;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    position: absolute;
    top: 74px;
    text-align: center;
    right: 145px;
    }

.rat{
    position: absolute;
    top: 50px;
    left: 40px;
}

.mosquito{
    position: absolute;
    top: 50px;
    left: 50px;
}

.circle-title{
    position: absolute;
    bottom: 29px;
    left: 0;
    right: 0;
    text-align: center;
    color: #0093DD;
    font-size: 15px;
    font-weight: bold;
}

.circle-title3{
    bottom: 20px;
}

.shape2{
    position: absolute;
    top: 50px;
    left: 50px;
}

.bird{
    position: absolute;
    top: 50px;
    left: 50px;
}

.contact-info{
    display: flex;
    align-items: center;
    margin-top: 200px;
}

.icon{
    position: relative;
    padding-left: 30px;
}
.icon:before{
    content: "\e901";
    position: absolute;
    left: 0;
    top: 0;
    font: 20px/20px icomoon;
    color: #0093dd;
}

.tel{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 20px;
}

.mail{
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover {
        color: @blue;
    }
}
.mail:before{
    .icon-envelope;
    color: #0093dd;
    position: absolute;
    left: -5px;
}

.tel:before{
    font-size: 21px;
    line-height: 21px;
    margin-right: 15px;
}

.list{
    list-style: none;
    margin: 0;
    font-size: 16px;
    padding: 0 0 12px 23px;
}
.list li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
}
.list li:before{
    .pseudo;
    left: 0;
    top: 8px;
    width: 10px;
    height: 10px;
    background: #FFF504;
    border-radius: 100px;
}

.blue-section {
    padding-left: 100px;
    display: flex;
    margin: auto;
    background-image: url(img/BG.jpg);
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.blue-section .list {
    font-size: 18px;
}

.mjere {
	color: #FFFFFF;
	font-size: 36px;
	font-weight: bold;
    line-height: 44px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-top: 20px;
}

.wrapper {
    max-width: @pageWidth;
    position: relative;
    margin: auto;
}

.service-content {
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.service-content ul{
    width: 50%;
    margin-right: 30px;
}

.deratizacija {
    display: flex;
    justify-content: space-between;
    height: @pageWidth;
    width: 922px;
}

.section-title {
    color: #0093DD;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    display: flex;
    position: relative;
    padding-top: 100px;
    &:before{
        .pseudo;
        width: 100px;
        height: 100px;
        background: @blue;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-rat;
        font: 50px/50px @fonti;
        color: #fff;
        left: 0px;
        margin-top: -20px;
    }
}

.section-title:before {
    left: -150px;
    top: 100px;
}

.section-title-dezinsekcija:before{.icon-mosquito;}
.section-title-dezinfekcija:before{
    .icon-shape2;
    top: 130px;
}
.section-title-zastita:before{.icon-bird;}

.section-title-warning {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.section-title-warning:before{
    .pseudo;
    display: block;
    width: 100px;
    height: 92px;
    left: -130px;
    background: url(img/warning.svg);
}

.section-wrapper {
    justify-content: space-between;
    display: flex;
    margin: auto;
    position: relative;
    padding-bottom: 100px;
}

.left-side {
    padding-right: 75px;
}

.list-blue li:before{
    background: @blue;
}

.list-y li:before{
    top: 3px;
    width: 10px;
    height: 10px;
    background: #FFF504;
    border: 3px solid black;
}

.right-side {
    width: 600px;
    height: auto;
    flex-shrink: 0;
    flex-grow: 0;
    padding-top: 20px;
    img{
        display: block;
        margin-bottom: 20px;
        margin-top: 40px;
        box-shadow: 0 10px 40px 0 rgba(0,0,0,.3);
    }
}

.imgs-slider{
    position: relative;
}

.slick-arrow{
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.slick-prev{
    position: absolute;
    bottom: 0;
    border-style: none;
    right: 310px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: @blue;
    &:before{
        .pseudo;
        .icon-arrow;
        font: 30px/25px @fonti;
        left: 25px;
        color: #fff;
    }
}

.slick-next{
    position: absolute;
    bottom: 0;
    border-style: none;
    right: 215px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: @blue;
    &:before{
        .pseudo;
        .icon-rarrow;
        font: 30px/25px @fonti;
        left: 31px;
        color: #fff;
        top: 15px;
    }
}


.map {
    height: 700px;
    width: 100%;;
    position: relative;
}

.footer {
    background-image: url(img/BG.jpg);
    color: #fff;
}

.footer-title {
    font-size: 24px;
    line-height: 24px;
    color: #fff504;
    padding: 50px 0 10px;
}

.footer-col2 {
    padding-right: 125px;
}

.footer-col {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.footer-info{
    .footer-title {
        margin-bottom: 12px;
    }
    .icon:before{
        color: #fff504;
        font-size: 14px;
        line-height: 14px;
        margin-left: 4px;
        margin-top: 3px;
    }
}

.footer-col1 {
    margin-right: 20px;
}

.footer-inner-col2 a {
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
}

.btn-pdf {
    width: 250px;
    height: 70px;
    box-shadow: 0 10px 40px 0 rgba(0,0,0,.3);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @blue;
    font-weight: 700;
    margin-top: 75px;
    margin-right: -150px;
    border-radius: 4px;
    position: relative;
    &:hover {
        color: #00bfff;
    }

    span{
        position: relative;
        padding-left: 30px;
        &:before{
            .pseudo;
            .icon-pdf;
            font: 20px/20px @fonti;
            width: 10px;
            height: 10px;
            left: 0;
        }
    }
}

.footer-inner-col3 {
    position: absolute;
    bottom: 95px;
    right: -10px;
    text-align: right;
}

.p {
    font-size: 16px;
    padding: 0 0 10px;
}

.marker a {
    text-decoration: none;
    text-align: right;
    font-size: 16px;
    &:hover{
        text-decoration: underline;
    }
}

.footer-inner-col3 p {
    padding: 0px 0px 2px;
}

.footer-col3 a {
    color: @blue;
    text-decoration: none;
}

.footer-col2 .mail {
    color: #FFF;
    &:hover{
        text-decoration: none;
    }
}

.footer-col a[href^=tel] {
    color: #fff;
    text-decoration: none;
}


@media only screen and (max-width: 1440px) {    
    .section-wrapper{width: 100%;}
    .container{
        width: 100%;
        padding-top: 5px;
        margin: auto;
        display: flex;
    }
    
    .istrebljivac{
        top: -140px;
            img{
            height: 510px; 
            width: auto;
            position: relative;
            top: 25px;
            left: -80px;
            }
    }
    
    .section-title-warning{
        display: block;
        &:before{
            position: relative;
            left: auto;
            display: block;
            background-size: contain;
            width: 80px;
            height: 73px;
            margin-bottom: 10px;
        }
    }
    
    .logo {
        width: 90px;
        height: 90px;
    }

    .header-info {
        font-size: 14px;
        padding-right: 15px;
    }

    .nav {
        font-size: 14px;
        padding-right: 15px;
        top: 50px;
        margin-left: 60px;
    }


    h2.name {
        font-size: 24px;
        line-height: 29px;
        padding-left: 30px;
    }

    .wrapper {
        margin-left: 30px;
    }

    .section-wrapper {
        padding-left: 30px;
        padding-bottom: 55px;
        padding-bottom: 30px;
    }

    .o-nama {
        top: 0px;
    }

    .list {
        font-size: 14px;
        line-height: 20px;
    }

    .right-side{
        width: 400px;
        margin-right: 20px;
    }

    .info {
        line-height: 22px;
        font-size: 14px;
        padding-left: 30px;
        padding-right: 140px;
    }

    .icon-title {
        font-size: 20px;
        top: 55px;
        left: 0px;
    }

    .info-con {
        margin-top: 30px;
        font-size: 18px;
        padding-left: 20px;
    }

    .page-intro {
        height: auto;
    }

    .blue-section {
        padding-top: 50px;
        padding-bottom: 64px;
    }

    .mjere {
        font-size: 24px;
        line-height: 29px;
    }

    .section-title {
        font-size: 32px;
        line-height: 39px;
        padding-left: 100px;
        padding-top: 60px;
        margin-bottom: 10px;
        &:before {
            width: 65px;
            height: 65px;
            font: 18px/13px @fonti;
        }
    }

    .section-title:before {
        position: absolute;
        flex-shrink: 0;
        font: 30px/13px "icomoon";
        left: 0px;
        top: 60px;
    }

    h3 {
        font-size: 18px;
    }

    .p {
        font-size: 14px;
        line-height: 20px;
    }

    .blue-section .list {
        font-size: 14px;
        left: 20px;
        line-height: 22px;
    }

    .footer-col {
        font-size: 14px;
        padding-top: 0;
    }

    .footer-inner-col3 {
        right: 30px;
        bottom: 30px;
    }

    .btn-pdf {
        width: 170px;
        height: 45px;
        position: absolute;
        right: 184px;
        top: -25px;
    }

    .btn-pdf span {
        font-size: 12px;
    }

    .istrebljivac {
        width: 400px;
    }

    .circle-title {
        font-size: 13px;
        line-height: 16px;
        bottom: 33px;
    }

    .circle {
        height: 126px;
        width: 127px;
    }

    .circle-deratizacija {
        top: 105px;
        left: -110px;
        &:before{
            top: 30px;
        }       
    }

    .circle-dezinsekcija {
        left: -112px;
        top: 320px;
        &:before{
            top: 30px;
        }
    }

    .circle-dezinfekcija {
        top: 105px;
        left: 229px;
        &:before {
            top: 18px;
            width: 65px;
        	height: 65px;
        }
    }

    .circle-title3 {
        top: 60px;
    }

    .circle-zastita {
        left: 229px;
        top: 320px;
        &:before {
            top: 26px;
        }
    }

    .circle-title4 {
        top: 70px;
    }

    .circle:before {
        font: 40px/35px @fonti;
    }
    
    .slick-prev {
        position: absolute;
        bottom: 0px;
        right: 210px;
        height: 50px;
        width: 50px;
        &:before {
            .pseudo;
            .icon-arrow;
            font: 23px/22px @fonti;
            top: 15px;
            left: 16px;
            color: #fff;
        }
    }
    
    .slick-next{
        bottom: 0px;
        right: 148px;
        height: 50px;
        width: 50px;
        &:before{
            .pseudo;
            .icon-rarrow;
            font: 23px/22px @fonti;
            left: 22px;
            color: #fff;
        }
    }

}

@media screen and (max-width: 990px) {
    .container {
      padding-right: 30px;
      padding-top: 5px;
      margin: auto;
      display: flex;
    }

    body {
        padding-top: 15px;
    }

    .logo {
      height: 70px;
      width: 70px;
    }
    .header-info {
      font-size: 12px;
      line-height: 15px;
    }

    .icon:before {
        font: 14px/15px "icomoon";
        left: 0px;
    }

    .page-intro {
      height: auto;
      padding-top: 150px;
    }
    .nav {
      font-size: 12px;
      line-height: 15px;
      position: absolute;
      right: 0px;
      left: 100px;
      top: 46px;
    }
    .name {
      font-size: 20px;
      line-height: 24px;
    }
    p.info {
      font-size: 14px;
      line-height: 22px;
      padding-top: 0px;
    }
    h2.icon-title {
      font-size: 18px;
      line-height: 22px;
      top: 80px;
      right: 70px;
    }

    .istrebljivac {
        width: 300px;
        top: -120px;
    }

    .istrebljivac img {
      height: 420px;
      top: 50px;
      left: -40px;
    }
    .circle {
      height: 93px;
      width: 93px;
    }
    .circle-deratizacija {
      top: 130px;
      left: -75px;
    }
    .circle-dezinfekcija {
      top: 130px;
      left: 201px;
    }


    .circle-dezinsekcija {
      top: 300px;
      left: -75px;
    }
    .circle-zastita {
      top: 300px;
      left: 201px;
    }
    .circle:before {
      font: 31px/22px "icomoon";
    }
    .circle-title {
      line-height: 12px;
      bottom: 22px;
      font-size: 11px;
    }
    .circle-title3 {
      top: 45px;
    }
    .circle-title4 {
      top: 57px;
    }
    .blue-section {
      padding-right: 20px;
      padding-bottom: 20px;
      padding-top: 10px;
      padding-left: 20px;
    }

    .section-title {
        padding-left: 90px;
    }

    .section-title:before {
      height: 60px;
      width: 60px;
      font: 26px/13px "icomoon";
      position: absolute;
      left: 0px;
      top: 65px;
    }
    .h3 {
      padding: 0px;
    }

    .section-title {
      font-size: 26px;
      line-height: 32px;
    }
    .list {
      font-size: 14px;
      line-height: 20px;
    }

    .list-y li:before {
        width: 6px;
        height: 6px;
    }

    .section-title-warning:before {
        position: relative;
        width: 55px;
        height: 50px;
        margin-left: 0px;
    }
    .slick-prev {
      bottom: 0;
      width: 40px;
      height: 40px;
      &:before {
        font: 19px/15px "icomoon";
        left: 13px;
      }
    }

    .slick-next {
        bottom: 0;
        width: 40px;
        height: 40px;
        &:before {
            font: 19px/15px "icomoon";
            left: 18px;
        }
    }
}


@media screen and (max-width: 860px) {
    .container{
        padding-top: 5px;
        margin: auto;
        display: flex;
    }

    .logo {
    height: 70px;
    width: 70px;
  }

  .header-info {
    font-size: 12px;
    line-height: 15px;
    padding-right: 25px;
    top: 10px;
  }

  .page-intro {
    padding-top: 140px;
    height: auto;
  }

  .nav {
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    right: 10px;
    left: 85px;
    top: 46px;
  }

  h2.name {
      font-size: 22px;
  }

  .name {
    font-size: 20px;
    line-height: 24px;
  }

  p.info {
    font-size: 13px;
    line-height: 22px;
    padding-top: 0px;
    padding-right: 80px;
  }

  h2.icon-title {
    font-size: 18px;
    line-height: 22px;
    top: 95px;
  }

  .istrebljivac img {
    height: 420px;
    top: 60px;
  }

  .info-con {
      font-size: 16px;
  }

  .circle {
    height: 93px;
    width: 93px;
  }

  .circle-deratizacija {
    top: 140px;
    left: -75px;
  }

  .circle-dezinfekcija {
    top: 140px;
  }

  .circle-dezinsekcija {
    top: 310px;
    left: -75px;
  }

  .circle-zastita {
    top: 310px;
  }

  .circle:before {
    font: 31px/22px "icomoon";
  }

  .circle-title {
    line-height: 12px;
    bottom: 22px;
  }

  .circle-title3 {
    top: 45px;
  }

  .circle-title4 {
    top: 57px;
  }

  .blue-section {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
  }

  h2.mjere {
      font-size: 22px;
  }

  .blue-section .list {
      font-size: 13px;
  }

  .list li:before {
      width: 8px;
      height: 8px;
  }

  .section-title:before {
    height: 60px;
    width: 60px;
    font: 26px/13px "icomoon";
  }

  h3 {
    padding-top: 20px;
    font-size: 16px;
  }

  .p {
      font-size: 13px;
      line-height: 19px;
  }

  .right-side {
    position: 10px;
    width: 290px;
  }

  .section-title {
    font-size: 26px;
    line-height: 32px;
  }

  .list {
    font-size: 13px;
    line-height: 20px;
  }

  .section-title-warning:before {
    width: 55px;
    height: 50px;
    margin-left: 0px;
  }

  .slick-prev {
    width: 40px;
    height: 40px;
    right: 150px;
  }

  .slick-next {
      width: 40px;
      height: 40px;
      right: 100px;
  }

  .footer-title {
      padding-top: 40px;
      padding-left: 0px;
  }

   .footer-col1 {
    padding-right: 0px;
  }

    .footer-col2 {
        padding-right: 125px;
    }

    .footer-inner-col3{
        padding-right: 0px;
        bottom: 20px;
        font-size: 13px;
    }

    .footer-inner-col2 a {
        font-size: 13px;
    }

    .footer-title {
        font-size: 22px;
    }

  .footer p {
      font-size: 13px;
  }

  .btn-pdf {
      top: -35px;
      right: 170px;
  }

  .marker a {
      font-size: 13px;
  }

  p {
      padding-bottom: 5px;
  }
}

    @media screen and (max-width: 800px) {
    .container{
        padding-top: 5px;
        margin: auto;
        display: flex;
    }

    .nav {
        font-size: 11px;
        line-height: 12px;
        left: 30px;
    }

    .header-info {
        font-size: 11px;
    }

    .page-intro {
        height: auto;
    }

    h2.name {
        font-size: 20px;
    }

    .p {
        font-size: 13px;
    }

    p.info {
        padding-right: 86px;
    }

    .istrebljivac {
        width: 260px;
        top: -150px;
    }

    h2.icon-title {
        font-size: 16px;
        top: 110px;
    }

    .circle-dezinfekcija {
        left: 165px;
    }

    .circle-zastita {
        left: 165px;
    }

    .circle-dezinsekcija {
        left: -80px;
    }

    .circle-deratizacija {
        left: -80px;
    }

    .section-title {
        font-size: 24px;
    }

    .mjere {
        margin-bottom: 20px;
    }

    h3 {
        font-size: 15px;
    }

    .list li:before {
        width: 7px;
        height: 7px;
        top: 6px;
    }

    .left-side {
        padding-right: 25px;
    }

    .footer-title {
        font-size: 20px;
    }

    .footer p {
        font-size: 11px;
    }

    .marker a{
        font-size: 11px;
    }
}
    
    @media screen and(max-width: 735px) {
    .container{
         padding-top: 5px;
         margin: auto;
         display: flex;
      }
    
    .info-con {
        margin-top: 10px;
    }


    h2.icon-title {
        font-size: 15px;
    }

    .circle {
        height: 85px;
        width: 85px;
    }

    .circle-title {
        font-size: 10px;
    }

    .circle:before {
        font: 32px/9px "icomoon";
    }

    .circle-title3 {
        top: 40px;
    }

    .circle-title4 {
        top: 50px;  
    }

    .istrebljivac img {
        left: -25px;
    }

    .circle-dezinfekcija {
        left: 182px;
        top: 150px;
    }

    .circle-zastita {
        left: 182px;
        top: 300px;
    }

    .circle-deratizacija {
        left: -65px;
        top: 150px;
    }

    .circle-dezinsekcija {
        left: -65px;
        top: 300px;
    }

    .footer-col1 {
          padding-right: 10px;
      }

    .footer-col2 {
          padding-right: 180px;
      }

    .btn-pdf {
        width: 170px;
        height: 45px;
        right: 175px;
    }
    }

 @media screen and (max-width: 700px) {
    .container{
            padding-top: 5px;
            margin: auto;
            display: flex;
            padding-right: 20px;
        }
    
    .nav {
        font-size: 10px;
    }

    .page-intro {
        padding-top: 100px;
    }

    .o-nama{
        padding-right: 37px;
    }

    .info {
        padding-bottom: 20px;
    }

    .info-con {
        font-size: 14px;
    }
    
    .istrebljivac img {
        height: 360px;
        top: 140px;
        left: -20px;
    }

    h2.icon-title {
        right: 50px;
        top: 165px;
    }

    .icon {
        padding-left: 30px;
    }

    p.info {
        padding-right: 70px;
    }

    .info {
        padding-left: 15px;
    }

    h2.name {
        line-height: 24px;
        padding-left: 15px;
        padding-bottom: 30px;
        padding-top: 20px;
    }

    .circle-dezinfekcija {
        left: 185px;
        top: 215px;
    }

    .circle-zastita {
        left: 185px;
        top: 350px;
    }

    .circle-deratizacija {
        left: -51px;
        top: 215px;
    }

    .circle-dezinsekcija {
        left: -51px;
        top: 350px;
    }

    .left-side {
        padding-right: 25px;
    }
    
    .list {
        padding-left: 0;
    }

    .list li {
        padding-left: 20px;
        &:before {
            top: 7px;
        }
    }

    .btn-pdf {
        width: 140px;
        height: 35px;
        right: 165px;
    }

    .btn-pdf span {
        font-size: 10px;
    }

    .btn-pdf span:before{
        font: 18px/20px "icomoon";

    }

    .section-wrapper {
        padding-left: 15px;
    }

    .footer-title {
        font-size: 14px;
    }

    .footer p {
        font-size: 13px;
        line-height: 18px;
    }

    .footer-col {
        line-height: 22px;
    }

    .footer-col1 {
        margin-right: 0;
        padding-right: 15px;
    }

    .footer-col2 {
        padding-right: 210px;
    }
    .marker a {
        font-size: 13px;
    }
    }

    @media screen and (max-width: 650px) {
        .container{
                padding-top: 5px;
                margin: auto;
                display: flex;
            }

        .section-wrapper {
            padding-left: 15px;
            display: block;
        }

        .o-nama {
            padding-right: 51px;
        }

        h2.name {
            font-size: 17px;
        }

        .nav {
            left: 10px;
        }

        .info-con {
            font-size: 16px;
            padding-left: 0;
            padding-top: 10px;
            line-height: 24px;
        }

        .icon {
            padding-left: 25px;
        }

        .tel {
            margin-right: 10px;
        }

        .tel:before{
            width: 18px;
            height: 18px;
            margin-right: 11px;
        }

        .circle {
            width: 80px;
            height: 80px;
            &:before {
                font: 28px/3px "icomoon";
            }
        }

        .circle-title {
            bottom: 19px;
        }

        .circle-title3 {
            top: 36px;
        }

        .circle-title4 {
            top: 47px;
        }

        .istrebljivac {
            width: 250px;
        }

        .p {
            font-size: 12px;
        }

        .list {
            font-size: 12px;
            line-height: 18px;
        }

        h3 {
            font-size: 14px;
        }

        p.info {
            padding-right: 0;
        }

        h2.mjere {
            font-size: 20px;
        }

        .blue-section .list {
            font-size: 12px;
            line-height: 20px;
        }

        .section-title {
            padding-top: 40px;
            padding-left: 78px;
        }

        .section-title:before {
            top: 52px;
        }

        .footer-title {
            font-size: 14px;
        }

        .footer p {
            font-size: 13px;
            line-height: 18px;
        }

        .footer-col {
            line-height: 22px;
        }

        .footer-col1 {
            margin-right: 0;
            padding-right: 15px;
        }

        .footer-col2 {
            padding-right: 210px;
        }
    }    






    @media screen and (max-width: 600px) {
        .container{
                padding-top: 5px;
                margin: auto;
                display: block;
                padding: 0 15px;
            }
        .btn-toggle-nav{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 47px;
            height: 47px;
            background: @blue;
            position: absolute;
            right: 15px;
            top: 0;
            font-size: 0;
            z-index: 101;
            span{
                display: blocK;
                width: 23px;
                height: 3px;
                background: #fff;
                position: relative;
                &:before, &:after{
                    .pseudo;
                    width: 100%;
                    height: 3px;
                    background: #fff;
                }
                &:before{top: -6px;}
                &:after{bottom: -6px;}
            }
        }

        p.info{
            font-size: 14px;
            line-height: 24px;
        }
        .info{
            padding: 0;
        }
        .o-nama{
            padding-right: 0;
        }
        .page-intro {
            padding-right: 0px;
            padding-top: 95px;
        }    

        .istrebljivac {
            height: 400px;
            top: -100px;
            right: -35px;
        }

        .logo {
            width: 65px;
            height: 65px;
        }

        .wrapper {
            margin-left: 0px;
        }

        .istrebljivac img {
            height: 340px;
            left: 0;
            top: 120px;
        }

        .circle {
            width: 75px;
            height: 75px;
            &:before {
                font: 31px/12px @fonti;
            }
        }

        .circle-zastita:before {
            top: 30px;
        }

        .circle-dezinfekcija:before {
            top: 30px;
        }

        h2.icon-title {
            font-size: 18px;
            line-height: 22PX;
            right: 0;
            top: 145px;
        }

        .circle-dezinfekcija {
            top: 190px;
            left: 199px;
        }

        .circle-zastita {
            left: 199px;
            top: 315px;
        }

        .circle-deratizacija {
            top: 190px;
            left: -24px;
        }

        .circle-dezinsekcija {
            top: 315px;
            left: -24px;
        }

        .circle-title {
            display: none;
        }

        .header-info {
            display: none;
            font-size: 10px;
        }

        .nav {
            display: none;
            font-size: 9px;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: #fff;
            z-index: 100;
            margin: 0;
        }

        .active-nav{
            .nav{
                display: block;
                
            }
            .btn-toggle-nav{
                span{
                    background: transparent; transform: rotate(45deg);
                    &:before, &:after{top: auto; bottom: auto;}
                    &:after{transform: rotate(90deg);}
                }
            }
            .header-info{
                display: block;
                background: @blue;
                color: #fff;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }

        h2.name {
            font-size: 24px;
            line-height: 29px;
            padding-left: 0;
            padding-bottom: 70px;
        }

        .info-con {
            font-size: 16px;
            line-height: 30px;
            display: block;
            align-items: center;
        }

        h2.mjere {
            font-size: 20px;
            line-height: 24px;
        }

        .blue-section {
            display: block;
            padding: 32px 15px 35px;
        }

        .service-content {
            display: block;
        }

        .service-content ul {
            margin-right: 0px;
            display: block;
        }

        .list li{
            padding-right: 0;
            margin-right: 0;
            font-size: 14px;
            line-height: 20px;
        }

        .section-title:before{
            height: 50px;
            width: 50px;
            font: 22px/6px "icomoon";
        }

        .section-title {
            padding-left: 65px;
            font-size: 24px;
            line-height: 29px;
        }
        
        h3 {
            font-size: 17px;
            line-height: 25px;
        }

        .p {
            font-size: 14px;
            line-height: 20px;
        }

        .left-side {
            padding-right: 20px;
        }

        .list {
            font-size: 11px;
        }

        .list li:before {
            width: 8px;
            height: 8px;
            top: 5px;
        }

        .section-title-warning:before {
            background-repeat: no-repeat;
            width: 44px;
            height: 40px;
        }

        .footer p{
            font-size: 12px;
            line-height: 16px;
        }

        .footer-col2 {
            padding-right: 190px;
        }

        .marker a {
            font-size: 12px;
        }

        .right-side img{
            width: 250px;
        }

        .right-side {
            padding-left: 25px;
        }
    }
